
body {
    font-family: Arial, sans-serif;
    background: rgb(252,243,232);
background: linear-gradient(264deg, rgba(252,243,232,1) 53%, rgba(255,255,255,1) 100%);
    margin: 0;
    padding: 0;
}

.chefs-section {
    text-align: center;
    padding: 50px 0;

}


.chefs-section h1 {
    font-size: 2.5em;
    color: #333;
    margin-bottom: 20px;
}

.chefs-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}
.chef-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    overflow: hidden;
    width: 300px;
    text-align: center;
    padding: 20px;
}

.chef-card:hover {
    transform: scale(1.03);
    box-shadow: 20px 20px 45px #aaa6a6; ;
}
}

.chef-card img {
    width: 100%;
    border-bottom: 1px solid #ddd;
    padding-bottom: 15px;
    margin-bottom: 15px;
}

.chef-card h2 {
    font-size: 1.5em;
    color: #333;
    margin: 10px 0;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.social-icons a img {
    width: 24px;
    height: 24px;
}
.chef-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    overflow: hidden;
    width: 230px;
    text-align: center;
    padding: 20px;
}

.chef-card img {
    height: 31vh;
    width: 100%;
    border-bottom: 1px solid #ddd;
    padding-bottom: 15px;
    margin-bottom: 15px;
}

.chef-card h2 {
    font-size: 1.5em;
    color: #333;
    margin: 10px 0;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.social-icons a img {
    width: 24px;
    height: 37px;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.testimonials {
    padding: 50px 0;
    background-color: #fff;
    text-align: center;
}
.container {
    width: 80%;
    margin: 0 auto;
}

h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

.testimonials-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.chef-image img {
    
    width: 300px;
    height: auto;
    border-radius: 10px;
}

.testimonials-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 20px;
    margin-top: 20px;
}

.card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 200px;
    text-align: center;
    margin-left: 2px;
}

.card img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
}
.card h3 {
    font-size: 1.2em;
    margin: 10px 0;
}

.card p {
    font-size: 0.9em;
    color: #555;
}

.stars span {
    color: #f39c12;
    font-size: 1.2em;
}
.Footer{
    background: url(https://images.pexels.com/photos/958545/pexels-photo-958545.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-blend-mode: overlay;
    box-sizing: inherit;
    background-color: #232533;
    
    background-position: 50% 50%;
    background-size: cover;
    height: 350px;
    width: 1500px; 
    display: flex;  
    margin-top: 350px;
    position: fixed;
 
}

.FooterAdd{
    font-size: 30px;
    font-family: cursive;
    color: white;
    padding-left: 5px;
    margin-right: 30px;
    padding-top: 5px;
    filter: drop-shadow(0 0 0.25rem yellow);
}
.OpenHours{
    padding-top: 30px;
    font-size: 25px;
    font-family: cursive;
    color: white;
    margin-left: 20px;
}

.OpenTimes{
    padding-top: 100px;
    font-size: 25px;
    font-family: cursive;
    color: white;
    margin-left: 20px;
    padding-top: 100px;
}

.Contactus{
    padding-left: 80px;
    padding-top: 30px;
    font-size: 25px;
    font-family: cursive;
    color: white;
}

.Reachus{
    padding-left: 35px;
    padding-top: 30px;
    font-size: 25px;
    font-family: cursive;
    color: white;
}

@media screen and (max-width: 500px){
    .Footer{
        width: 450px;
        height: 400px;
    }
    .img-footer{
        height: 40px;

    }
    .FooterAdd{
        font-size: 15px;
        }
    .OpenHours{
        font-size: 15px;
        margin-left: 0px;
    }
    .OpenTimes{
        font-size: 15px;
    }
    .Reachus{
        font-size: 15px;
        margin-left: 0px;
        margin-bottom: 10px;
        padding-top: 210px;
        padding-left: 0px;
    }
    .Contactus{
        font-size: 15px;
        margin-left: 0px;
        padding-left: 2px;
    }

}

@media screen and (min-width: 600px) and (max-width: 768px) {
    .Footer{
        width: 760px;
        height: 350px;
    }
    .img-footer{
        height: 40px;

    }
    .FooterAdd{
        font-size: 15px;
        }
    .OpenHours{
        font-size: 15px;
        margin-left: 0px;
    }
    .OpenTimes{
        font-size: 15px;
    }
    .Reachus{
        font-size: 15px;
        margin-left: 0px;
        margin-bottom: 10px;
        padding-top: 210px;
        padding-left: 0px;
    }
    .Contactus{
        font-size: 15px;
        margin-left: 0px;
        padding-left: 2px;
    }


}

@media screen and (min-width: 769px) and (max-width: 992px) {
    .Footer{
        width: 990px;
        height: 350px;
    }
    .img-footer{
        height: 45px;

    }
    .FooterAdd{
        font-size: 20px;
        }
    .OpenHours{
        font-size: 20px;
        margin-left: 0px;
    }
    .OpenTimes{
        font-size: 20px;
    }
    .Reachus{
        font-size: 20px;
        margin-left: 0px;
        margin-bottom: 10px;
        padding-top: 210px;
        padding-left: 0px;
    }
    .Contactus{
        font-size: 20px;
        margin-left: 0px;
        padding-left: 2px;
    }


}
@media screen and (min-width: 993px) and (max-width: 1200px) {

    .Footer{
        width: 1200px;
        height: 350px;
    }
    .img-footer{
        height: 50px;

    }
    .FooterAdd{
        font-size: 25px;
        }
    .OpenHours{
        font-size: 25px;
        margin-left: 0px;
    }
    .OpenTimes{
        font-size: 25px;
    }
    .Reachus{
        font-size: 25px;
        margin-left: 0px;
        margin-bottom: 10px;
        padding-top: 210px;
        padding-left: 0px;
    }
    .Contactus{
        font-size: 25px;
        margin-left: 0px;
        padding-left: 30px;
    }
}






*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
html{
    font-size: 62.5%;
    /* 1rem=10px */
    overflow-x: hidden;

}
body{
    overflow-x: hidden;
}
.header{
    display: flex;
    height: 11rem;
    align-items: center;
    justify-content: space-between;
    padding: 0 4rem;
    background-color:#81b1ce;
    border-color: #f2f2f2;
    box-shadow: 0 10px 55px #d4d4d4;
    
}
.logo{
    height: 4rem;
}
.navbar-list{
    display: flex;
    gap: 4rem;
    list-style: none;
}
.link:link, a{
    text-decoration: none;
    display: inline-block; /* to remove underline and add padding */
    font-size: 2rem;
    transition: 0.3s ease-in-out;
    font-weight: 600;
    color: #212129;
}
.link:link:hover, a:hover{
    color: #00ace6;
}
.main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #00ace6;
}
.mobile-nav{
    display: none;
    background: transparent;
     cursor: pointer;
}
.mob-i{
    height: 4rem;
    width: 4rem;
}
.x{
    display: none;
}


@media screen and (max-width: 1105px){
    .mobile-nav{
        display: block;
        z-index: 900;
    }
    .logo{
        width: 10%;
        
    }
    .header{
        position: relative;
    }
    .nav-bar{
        position: absolute;
        /* display: none; */
        width: 100%;
        height: 100vh;
        top: 0;
        left: 0;
        display: flex;
        /* flex-direction: column; */
        justify-content: center;
        align-items: center;
        background:#b4e1ff ;
        transform: translateX(100%);
        transition: all 0.5s linear;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
    }
    .navbar-list{
        flex-direction: column;
        align-items: center;
    }
    .active .nav-bar{
        transform: translateX(0);
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
    }
    .active .x{
        display: block;
    }
    .active .M{
        display:none;
   }
}


    






@media screen and (max-width: 1105px){
    .mobile-nav{
        display: block;
        z-index: 900;
    }
    .logo{
        width: 10%;
        
    }
    .header{
        position: relative;
    }
    .nav-bar{
        position: absolute;
        /* display: none; */
        width: 100%;
        height: 100vh;
        top: 0;
        left: 0;
        display: flex;
        /* flex-direction: column; */
        justify-content: center;
        align-items: center;
        background-color:#094770 ;
        transform: translateX(100%);
        transition: all 0.5s linear;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
    }
    .navbar-list{
        flex-direction: column;
        align-items: center;
    }
    .active .nav-bar{
        transform: translateX(0);
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
    }
    .active .x{
        display: block;
        
    }
    .active .M{
        display:none;
    }


}



/*footer css*/




.footer-continer{
    height: 80vh;
    width: 100%;
    display: flex;
    text-align: center;
    background-color: rgb(187, 186, 184);
}
.footer-info{
    height: 100%;
    width: 25vw;
    
    display: flex;
    flex-direction: column;
   
    text-align: center;

}
.footer-logo {
    height: 20vh;
    width: 20vw;
    
    object-fit: contain;
}

.footer-info p{
    color:black;
    margin-top: 40px;
    font-size: 1vw;
    margin-bottom: 5vh;
}
.footer-social{
    display: flex;
    justify-content: space-evenly;
}

.footer-icon{
    width: 50px;
    height: 50px;
    cursor: pointer;
    background: linear-gradient(145deg, #e6e6e6, #ffffff);
    border-radius: 50%;
    text-align: center;
    font-size: 1vw;
    object-fit: cover;
}

.footer-icon:hover{
    box-shadow: 5px 5px 20px rgb(158, 157, 157);
}
.footer-time{
    height: 100%;
    width: 25vw;
    
    display: flex;
    flex-direction: column;
    align-items: center;

}

.footer-time h1{
    font-size: 2.5vw;
    margin-top: 10vh;
    color:black;
    margin-bottom: 10vh;
}

.footer-time p{
    color: black;
    font-size: 1.5vw;
    display: flex;
    
}
.pag{
    margin-top: 2vh;
}
.footer-time p svg{

    height: 3vh;
}
.footer-link{
    height: 100%;
    width: 25vw;
    
    display: flex;
    flex-direction: column;
    
    text-align: center;
    

}
.footer-pages{
    display: flex;
    flex-direction: column;
}

.footer-link a{
    margin-top: 2vh;
    text-decoration: none;
}
.footer-link a{
    text-decoration: none;
}
.footer-link h1{
    margin-top: 10vh;
    font-size: 2.5vw;
}


.footer-compani{
    height: 100%;
    width: 25vw;
    
    display: flex;
    flex-direction: column;
  
    text-align: center;

}
.footer-compani h1{
    font-size: 2.5vw;
    margin-top: 10vh;
    color:black;;
}
.company-taxt{
    display: flex;
    flex-direction: column;
}
.company-taxt a{
    margin-top: 3vh;

}


@media screen and (max-width:480px) {
    .footer-continer{
        height: 190vh;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .footer-info{
        height: 50vh;
        width: 100%;
    }
    .footer-logo{
        display: block;
        margin: 0px auto;
        height: 22vh;
        width: 69vw
    }

    .footer-info p{
        font-size: 4vw;
    }
    .footer-time{
        height: 50vh;
        width: 100%;
    }
    .footer-time h1{
        font-size: 7.5vw;
        color: #8f2839;
    }
    .footer-time p{
        font-size: 5.5vw;
    }
    .footer-link{
        width: 100%;
        height: 61vh;
    }
    .footer-link h1{
        font-size: 9.5vw;
        color: #8f2839;

    }
    .footer-compani{
        height: 50vh;
        width: 100%;
    }

    .footer-compani h1{
        font-size: 7.5vw;
        color: #8f2839;
    }

    
}


@media screen and (min-width:482px) and (max-width:600px){
    .footer-continer{
        height: 118vh;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
    .footer-info{
        height: 40vh;
        width: 50%;
    }
    .footer-info p{
        font-size: 2vw;

    }
    .footer-time{
        height: 40vh;
        width: 50%;
    }
    .footer-time h1{
        font-size: 3vw;
    }
    .footer-time p{
        font-size: 2.5vw;
    }
    .footer-link{
        height: 80vh;
        width: 50%;
    }

    .footer-compani{
        height: 80vh;
        width: 50%;
    }
    
}



